<div class="hero" id="Home">
    <div class="hero__image">
        <div class="hero__overlay"></div>
        <h2 class="hero__title">
            YOU CAN RENT A CAR FROM US
        </h2>
        <p class="hero__desc">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed consequatur earum hic, beatae dolorem, maxime voluptate dolorem,
            maxime voluptate beatae dolorem, maxime voluptate dolorem, maxime voluptate maxime voluptate onsectetur adipisicing
            elit. </p>
    </div>
</div>

