<app-banner></app-banner>

<div class="container">
    <h2 class="headline">
        <span class="headline__span">
            Lorem ipsum amet
        </span>
    </h2>
    <div class="text text__black text__center">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum neque obcaecati architecto magnam modi perferendis porro
            pariatur non. Nobis sunt deserunt accusamus nulla animi esse est harum facere iusto quam, accusamus nulla animi esse
            est harum facere iusto quam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum neque obcaecati architecto
            magnam modi perferendis porro pariatur non.
    </div>
    <div class="car m__y--40">
        <img src="../../assets/img/rimac.jpg" class="img__responsive img__round" alt="Rimac" />
    </div>

    <div class="container__mini">
        <h2 class="heading heading__title">
            We provide best cars for you.
        </h2>
        <div class="container__holder">
            <span class="heading__line"></span>
            <div class="container__holder--text">
                <h3 class="heading heading__subtitle">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </h3>
                <p class="text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum neque obcaecati architecto magnam modi perferendis porro
                    pariatur non. Nobis sunt deserunt accusamus nulla animi esse est harum facere iusto quam, accusamus nulla
                    animi esse est harum facere iusto quam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum
                    neque obcaecati architecto magnam modi perferendis porro pariatur non.
                </p>
            </div>
        </div>
    </div>


    <div class="grid grid__two m__b--40">
        <div class="col col__align">
          <img src="https://icdn-1.motor1.com/images/mgl/AqEQy/s1/rimac-concept-one.jpg" class="img__responsive img__round" />
        </div>
          <div class="col col__align">
          <h3 class="heading heading__subtitle">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </h3>
          <p class="text m__b--20">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum neque obcaecati architecto magnam modi perferendis porro
              pariatur non. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum
              neque obcaecati architecto magnam modi perferendis porro pariatur non.
          </p>
              <button class="btn btn__secondary" routerLink="/cars" >
                  Check all cars
              </button>
      </div>
    </div>
</div>