<!-- <div class="hero">
    <div class="hero__background" [ngStyle]="{backgroundImage: 'url(' + car.thumbnail + ')'}"></div>
    <!-- <div class="hero__desc ">
        <div class="container">
        <div class="col">
            <p class="text">
                ACC (0-100 KM/H)
            </p>
            <h4 class="text">
                <span>{{car.acc}}</span>sec
            </h4>
        </div>
        <div class="col">
            <p class="text">
                POWER
            </p>
            <h4 class="text">
                <span>{{car.power}}</span>hp
            </h4>
        </div>
        <div class="col">
            <p class="text">
                TOP SPEED
            </p>
            <h4 class="text">
                <span>{{car.topSpeed}}</span>km/h
            </h4>
        </div>
    </div> 
    
</div>
</div> -->
<main>
        <div class="container">
            <div class="grid grid__details m__b--40">
                <div class="grid__details--title">
                    <h2 class="heading heading__title">
                        We provide best cars for you.
                    </h2>
                </div>
                <div class="grid__details--desc">
                    <p class="text">
                        {{car.desc}}
                    </p>
                </div>
                <div class="grid__details--desc--two">
                    <p class="text">
                        {{car.desc}}
                    </p>
                </div>
                <div class="grid__details--image">
                    <img src="{{car.verticalImage}}" class="img__responsive" alt="{{car.name}}" />
                </div>
    
            </div>
            <div class="container">
                    <div class="grid__car--description text__center m__y--40">
                        <h3 class="heading heading__title">
                            About car
                        </h3>
                        <p class="text">
                            Fusce massa dolor, mattis sed ultrices ut, placerat ut leo. Donec sed fringilla lectus, non vulputate orci. Integer id libero euismod, interdum ligula vel, porttitor magna. Sed euismod maximus finibus. Pellentesque tempus ultricies nisi at cursus. Nulla at nisi tellus. Suspendisse potenti.
                        </p>
                    </div>
                            <div class="grid grid__car--specification">
                                    <div class="col">
                                            <span class="ion ion-ios-speedometer-outline"></span>
                                            <h3 class="text text__black">
                                                    {{car.topSpeed}}
                                                    <span>
                                                        km/h
                                                    </span>
                                            </h3>
                                            <p class="text">
                                                Recherches graphiques, sculptures 3D, prototypes, packaging.
                                            </p>
                                    </div>
                                    <div class="col">
                                            <span class="ion ion-ios-stopwatch-outline"></span>
                                            <h3 class="text text__black">
                                                {{car.acc}}
                                                <span>
                                                    s
                                                </span>
                                            </h3>
                                            <p class="text">
                                                Recherches graphiques, sculptures 3D, prototypes, packaging.
                                            </p>
                                    </div>
                                    <div class="col">
                                            <span class="ion ion-ios-bolt-outline"></span>
                                            <h3 class="text text__black">
                                                {{car.power}}
                                                <span>
                                                    hp
                                                </span>
                                            </h3>
                                            <p class="text">
                                                Recherches graphiques, sculptures 3D, prototypes, packaging.
                                            </p>
                                    </div>
                                </div> 
                </div>
    
        <div class="main__image" [ngStyle]="{backgroundImage: 'url(' + car.mainImage + ')'}"></div>
        <div class="container__mini">
                <h2 class="heading heading__title">
                    We provide best cars for you.
                </h2>
                <div class="container__holder">
                    <span class="heading__line"></span>
                    <div class="container__holder--text">
                        <h3 class="heading heading__subtitle">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </h3>
                        <p class="text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum neque obcaecati architecto magnam modi perferendis porro pariatur non. Nobis sunt deserunt accusamus nulla animi esse est harum facere iusto quam, accusamus nulla animi esse est harum facere iusto quam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum neque obcaecati architecto magnam modi perferendis porro pariatur non.
                        </p>

                <button class="btn btn__rent">
                        Rent this car
                    </button>
                    </div>
                </div>
            </div>
        </div>
    </main>