<footer class="footer">
           <div class="container grid grid__footer">
              <div class="container__holder--text">
                  <p class="text text__white">
                      Avenija Veċeslava Holjevca 40
                      <br> 10010 Zagreb
                      <br> Croatia
                  </p>
              </div>
              <div class="container__holder--text">
                  <p class="text text__white">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                  <a href="#" class="link">
                      Send a message
                  </a>
              </div>
              <div class="container__holder--text">
                  <p class="text text__white">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  </p>
                  <a href="#" class="link">
                      +385 1 6111 802
                  </a>
              </div>
           </div>
</footer>